@import 'config';

#bodyEl {
    background: url($bgImg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

main {

    .title {
        text-align: center;
        padding-top: 5rem;
        color: #fff;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            display: inline-block;
            padding: 5px 10px;
            @include ease;

            &:hover {
                -webkit-transform: scale(1.1);
                        transform: scale(1.1);
            }
        }
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 5rem 0;

        .channel {
            max-width: 300px;
            margin-bottom: 2rem;
            cursor: pointer;
            @include ease;

            .channelTop {
                position: relative;
                height: 168px;
                @include ease;

                img {
                    position: relative;
                    opacity: 0;
                    @include size(100%,auto);
                    @include ease;
                }

                &::before {
                    content: '';
                    background: url($placeholderImg);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }

            .channelBottom {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                background: rgba(#000, 0.4);
                color: #fff;
                height: 80px;


                .portrait {
                    @include size(50px, 50px);
                    margin: 1rem;
                    position: relative;

                    img {
                        @include size(100%, auto);
                        border-radius: 50%;
                        position: relative;
                        opacity: 0;
                    }

                    &::before {
                        content: '';
                        background: url($placeholderImg) center;
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        border-radius: 50%;
                    }
                }

                .channelIfo {
                    margin-left: 0.5rem;

                    .channelName {
                        width: 200px;
                        margin-bottom: 0.2rem;
                        font-weight: 500;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .hostName {
                        font-weight: 300;
                    }
                }
            }

            &:hover {
                -webkit-box-shadow: -5px 5px 20px 1px rgb(56, 56, 56);
                        box-shadow: -5px 5px 20px 1px rgb(56, 56, 56);
                -webkit-transform: translate(5px, -5px);
                        transform: translate(5px, -5px);
            }

            &:hover .channelTop {
                -webkit-filter: brightness(1.3);
                filter: brightness(1.3);
            }
        }
    }
    
    .goTop {
        position: fixed;
        right: 20px;
        bottom: 20px;
        font-size: 1.5rem;
        padding: 5px 10px;
        background: rgba(0,0,0,0.8);
        z-index: 1000;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
    
